<div ng-controller="adminForumController" >
<form id="forumformid" method="post">
<div class="container">
  <table class="table">
    <thead >
      <tr class="success">
        <th>Forum Name</th>
        <th>Forum Content</th>
        <th colspan="2">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr  ng-repeat="forum in forumdata">
        <td>{{forum.forumName}}</td>
        <td>{{forum.forumContent}}</td>
       <td ng-show="forum.status=='R'"><input type="submit" value="Approve" ng-click="approveforum(forum.forumId)"/></td>
       <td ng-show="forum.status=='A'"><input type="submit" value="Reject" ng-click="rejectforum(forum.forumId)"/></td>
       </tr>    
    </tbody>
  </table>
</div>
</form>
</div>